extends opmaak

block content
  section.page
    h1 Contactgegevens
    br
    include('./contactImages.jade')
    p Om aan te melden, voor vragen of een gratis proefles kunt u contact opnemen per telefoon of email.
    br
    p N.B. In de periode 12 december 2012 tot 31 december ben ik alleen bereikbaar per email ivm een studiereis.
    br
    p Bosz de Kler
    p telefoon 06 15465232
    p
      a(href="mailto://boszdekler@gmail.com") boszdekler@gmail.com