extends opmaak

block content
  section.adults.page
    h1 Accordeonles aan volwassenen
    p Een accordeon is niet moeilijker te bespelen dan een ander instrument en geeft toegang tot vrijwel alle soorten muziek. Je kunt er goed solo op spelen maar ook samen met andere instrumenten. Voor veel mensen is het een jaren gekoesterde wens zelf accordeon te leren spelen en sommigen hebben de ambitie om verder te gaan in een band of te studeren aan het Conservatorium.
    p Voor volwassenen bied ik verschillende vormen van les.  Door de jaren heen heb ik  daarin veel ervaring opgedaan. Ik heb daarbij gemerkt dat iedereen anders met muziek omgaat en probeer daarin zoveel mogelijk te zoeken naar de beste leermethode. Het is ook belangrijk een goede relatie op te bouwen zodat mijn studenten zich prettig voelen en het beste van zichzelf kunnen laten horen. De sfeer moet ontspannen zijn maar ook intens om tot kwaliteit te komen.
    p Het maakt niet uit op welke leeftijd u begint, ook veel ouderen hebben plezier in het leren muziek maken. Muziek staat, op welk niveau ook, altijd garant voor een mooie vorm van menselijk contact.
    p U kunt bij mij spelen op uw eigen instrument of er een bij mij huren.
    h2 Beginners:
    ul
      li de techniek leren voor de rechter en linkerhand
      li noten leren lezen
      li kennis maken met eenvoudige accordeon muziek
      li stap voor stap vertrouwd raken met het accordeon spelen
      li leren luisteren naar muziek en jezelf
      li uit het hoofd leren spelen
      li advies bij het uitzoeken van een eigen accordeon
    h2 Gevorderden:
    ul
      li voortzetting en uitbreiding van speltechniek
      li aandacht voor ritme soorten
      li aandacht voor toonsoorten
      li mogelijkheid tot ontwikkeling van specifieke genres
      li uit het hoofd leren spelen
      li begeleiding in het schrijven van muziek
      li begeleiding in het spelen in bands of orkesten
    p Een les duurt 50 minuten en kan wekelijks of om de week worden gegeven. Op de pagina Voorwaarden kunt u lezen wat u van mij kunt verwachten en wat ik van mijn leerlingen verwacht.  