div
  h1.blue(style="top: 25px;") Accordion lessons
  p.blue(style="top: 25px") Learn to playaccordion by taking lessons
    br
    | from a professional musician
    br
    | Lessons for adults and children in The Hague
  a(href='/en/')#switchEn
    | English
    img(src=hostname + "images/accordeon_b.png")